# Virtual environment
myenv/
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Jupyter Notebook cache
.ipynb_checkpoints/

# VS Code settings (optional)
.vscode/

# OS files
.DS_Store
Thumbs.db